.border-top {
	border-bottom: 1px solid #dee2e6 !important;
}
.gold-text {
	color: gold;
}
.row1:hover {
	background-color: red;
}
@media (max-width: 700px) {
	.scoreboard-title {
		font-size: 1.5rem;
	}
}
